{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    {% if app.user %}
        <div>
            {% if app.user.avatar == 'https://api.lorem.space/image/face?w=100&h=100' %}
                <img src="{{ asset(app.user.avatar) }}" alt="">
            {% else %}
                <img src="{{ asset('uploads/filename/' ~ app.user.avatar) }}" width="100px" height="100px" alt="">
            {% endif %}
            <div>
                <p>Your email: {{ app.user.email }}</p>
                <p>Your username: {{ app.user.username }}</p>
                <p>Your age: {{ app.user.age }} year</p>
                <p>Your password: *******</p>
                <p>Verified account ?
                    {% if app.user.isVerified == true %}
                        Your account is verified !
                    {% endif %}
                    {% if app.user.isVerified == false %}
                        Your account is not verified !
                    {% endif %}
                </p>

            </div>
        </div>
    {% endif %}

{% endblock %}
