<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul class="navbar navbar-expand-lg navbar-light bg-dark justify-content-lg-around">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('build/images/49334.png') }}" width="50px" style="margin: 0.5rem 1.5rem" alt="">
                </a>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <div class="container-fluid">
                        <li class="navbar-brand"><a class="btn btn-success" href="{{ path('admin') }}">Administration</a></li>
                    </div>
                {% endif %}
                <li class="navbar-brand"><a class="link-light" href="{{ path('app_home') }}">Home</a></li>
                <li class="navbar-brand"><a class="link-light" href="{{ path('app_article') }}">Articles</a></li>
                {% if app.user %}
                    {% if is_granted("ROLE_AUTHOR") %}
                        <li class="navbar-brand"><a class="link-light" href="{{ path('add_article') }}">Add article</a></li>
                    {% endif %}
                    <div class="container-sm justify-content-end">
                        <li class="navbar-brand"><a class="btn btn-primary" href="{{ path('app_profile') }}">Profile</a></li>
                        <li class="navbar-brand"><a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a></li>
                    </div>
                {% else %}
                    <div class="container-fluid justify-content-end">
                        <li class="navbar-brand"><a class="btn btn-success" href="{{ path('app_login') }}">Login</a></li>
                        <li class="navbar-brand"><a class="btn btn-success" href="{{ path('app_register') }}">Register</a></li>
                    </div>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
